{% extends "base_menu.html" %}
{% block content %}
<h1>Ads</h1>
<p>
{% if ad_list %}
<ul>
  {% for ad in ad_list %}
    <li>
        <a href="{% url 'mkt:ad_detail'  ad.id %}">{{ ad.title }}</a>
        {% if ad.owner == user %}
        (<a href="{% url 'mkt:ad_update' ad.id %}">Edit</a> |
        <a href="{% url 'mkt:ad_delete' ad.id %}">Delete</a>)
        {% endif %}
        {% if user.is_authenticated %}
        <dj4e-favstar
            onclick="favToggle(this, '{% url 'mkt:ad_toggle' ad.id %}');"
            {% if ad.id in favorites %} fav {% endif %}
        >
        </dj4e-favstar>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no adverts in the database numb-nuts.</p>
{% endif %}
</p>
<p>
<a href="{% url 'mkt:ad_create' %}">Add an Ad</a> |
{% if user.is_authenticated %}
<form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<a href="{% url 'login' %}?next={% url 'mkt:all' %}">Login</a>
{% endif %}
</p>

{# New javascript to toggle the ads when the stars  are clicked  #}
<script>
function favToggle(element, url) {
    console.log('POSTing to', url);
    fetch(url, { method: 'POST', body: '{}' } )
    .then((response) => {
        if (!response.ok) {
            console.log("If you see this error, it is likely in ToggleFavoriteView()");
            console.log("Note: It is easier to diagnose this error FireFox.");
            throw new Error(`AJAX/fetch error status: ${response.status}, see developer console.`)
        }
        return response.text();
    })
    .then((response) => {
        console.log(url, response);
        element.toggleAttribute('fav');
    }).catch((error) => {
        alert(`Url ${url} failed ${error}`);
    });
}
</script>

<script type="module" src="/site/wc/dj4e-favstar.js"></script>

{% endblock %}
